<div class="page-header">
  <div class="header-content">
    <div class="titles">
      <h1 class="page-title">{{ pageHeading }}</h1>
      <p class="subtitle" *ngIf="subtitle">{{ subtitle }}</p>
    </div>
    <nav class="nav-links" *ngIf="showNav">
      <app-link materialStyle="button" [routerLink]="['/']" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        Home
      </app-link>
      <app-link materialStyle="button" [routerLink]="['/bills']" routerLinkActive="active">
        <mat-icon>description</mat-icon>
        Bills
      </app-link>
      <app-link materialStyle="button" [routerLink]="['/committee']" routerLinkActive="active">
        <mat-icon>account_balance</mat-icon>
        Committees
      </app-link>
    </nav>
  </div>
</div>
