<footer class="site-footer">
  <div class="container">
    <div class="footer-brand">
      <mat-icon>account_balance</mat-icon>
      <span>Government Data Buddy</span>
    </div>

    <div class="footer-columns">
      <div class="column">
        <h4>Data Sources</h4>
        <ul>
          <li><app-link materialStyle="button" [routerLink]="['/bills']">Bills</app-link></li>
          <li><app-link materialStyle="button" [routerLink]="['/committee']">Committees</app-link></li>
          <li><a mat-button href="https://api.congress.gov/" target="_blank" rel="noopener">Congress.gov API</a></li>
        </ul>
      </div>
      <div class="column">
        <h4>Key Features</h4>
        <ul>
          <li>Real-time congressional data</li>
          <li>Intelligent caching</li>
          <li>Enterprise architecture</li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <span>© 2024 Government Data Buddy</span>
      <span class="dot">•</span>
      <span>User-friendly access to U.S. Congressional data</span>
    </div>
  </div>
</footer>


