<div class="mat-elevation-z8">
  <div *ngIf="billDetails">
    {{ billDetails | json }}
  </div>
  <div *ngIf="summary">
    {{ summary | json }}
  </div>
  <table mat-table [dataSource]="bills">
    <ng-container [matColumnDef]="p" *ngFor="let p of iterationProps">
      <th mat-header-cell *matHeaderCellDef>{{ p }}</th>
      <td mat-cell *matCellDef="let bill">
        <ng-container *ngIf="shouldRenderLink(p); else regularTemplate">
          <div (click)="handleUrlClick(bill)">View Info</div>
        </ng-container>
        <ng-template #regularTemplate>
          <div>
            {{ bill[p] }}
          </div>
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="latestAction">
      <th mat-header-cell *matHeaderCellDef>Latest Action</th>
      <td mat-cell *matCellDef="let bill">
        Date: {{ bill.latestAction.actionDate }}: {{ bill.latestAction.text }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
